fastapi
uvicorn
motor
python-dotenv
pydantic
SQLAlchemy
PyMySQL
pymongo
python-dotenv
pydantic[email]
python-multipart
colorama
tzdata
jinja2
httpx
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.1